/* You can add global styles to this file, and also import other style files */
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body{
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #2C2D39;
  color: white;
  max-width: 400px;
  margin: auto;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-overflow-scrolling: touch;
}
